* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.first-section {
    background-image: url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 920px;
}

.banner {
    color: #FFFFFF;
}

.title {
    font-weight: 1200;
    font-size: 65px;
    text-align: right;
    padding-top: 200px;
    padding-right: 250px;
    line-height: 70px;
}

.summary {
    text-align: right;
    font-weight: 100;
    font-size: 15px;
    padding-right: 250px;
    padding-top: 30px;
    line-height: 26px;
}

.btn-primary {
    height: 70px;
    width: 160px;
    border-radius: 5px;
    border: 0;
    font-size: 22px;
    font-weight: 700;
    color: #005FAC;
}

.btn {
    text-align: right;
    padding-right: 250px;
    padding-top: 30px;
}

.seceond-section {
    display: flex;
    align-items: center;
}

.contant-one {
    margin: 150px 0 100px 220px;
}

.contant-two {
    padding-top: 120px;
    padding-left: 90px;
}

.sub-contant-one {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    padding-bottom: 30px;
}

.sub-contant-two {
    color: #444343;
    font-size: 15px;
    line-height: 22px;
    padding-bottom: 20px;
}

.sub-contant-three {
    font-size: 15px;
    line-height: 22px;
    color: #444343;
}

.myplan {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}

.plans {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 50px 220px 50px 220px;
}

.plans img {
    height: 100px;
}

.task-title {
    font-size: 25px;
    font-weight: 2500;
    line-height: 50px;
}

.task-step {
    font-size: 20px;
    font-weight: 800;
    color: #737272;
}

.third-section {
    background-image: url("../images/watch.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    margin-top: 80px;
    border-radius: 50px;
}

.body {
    text-align: left;
    margin-left: 400px;
    padding-top: 20px;
    font-size: 40px;
}
.gradient{
    background-image: url("../images/gradient3.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    opacity: 30;
}
#title{
    font-size: 40px;
    color: #F3F3F3;
    font-weight: bolder;
}
#button-1{
    font-size: 15px;
    font-weight: bold;
    height: 60px;
    width: 160px;
    background: #FFFFFF;
border-radius: 5px;
border: 0;
color: rgb(61, 61, 248);
}

footer {
    background-color: black;
    height: 600px;
    margin-top: 120px;
    color: azure;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-around;
}

.title-fast {
    font-size: 45px;
    font-weight: 800;
}

.icon {
    font-size: 80px;
}

.para-one {
    font-size: 20px;
    line-height: 22px;
}

.box-2 {
    margin-bottom: 105px;
}

.box-1,
h4 {
    font-size: 15px;
    line-height: 26px;
    font-weight: 100;
}

.box-2,
h1 {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 28px;

}

.text {
    padding-bottom: 20px;
}

.btn-three,
h3 {
    width: 325px;
    height: 64px;

}

#email {
    width: 275px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid white;
    padding-left: 15px;
    background-color: black;
    color: #F3F3F3;
    font-weight: 800;
    font-size: 15px;
}

#button {
    height: 64px;
    background: #005FAC;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}